go 1.26.0

use (
	.
	./cmd/doctor
	./examples/core-dummy
	./examples/http-dummy
	./integrations/azuresb
	./integrations/cassandra
	./integrations/contrib
	./integrations/gcppubsub
	./integrations/gorm
	./integrations/grpc
	./integrations/httpclient
	./integrations/httpserver/chi
	./integrations/httpserver/core
	./integrations/httpserver/echo
	./integrations/httpserver/fiber
	./integrations/httpserver/gin
	./integrations/httpserver/gorillamux
	./integrations/httpserver/nethttp
	./integrations/kafka
	./integrations/messaging/core
	./integrations/mongo
	./integrations/rabbitmq
	./integrations/redis
	./integrations/sftp
	./integrations/smtp
	./integrations/sql
	./samples/catalog-service
	./samples/inventory-api
	./samples/inventory-worker
	./samples/notifications-worker
	./samples/orders-api
	./samples/reports-service
	./samples/shipments-service
	./samples/users-service
)
